## **Title -: ELB Sales Analysis**

#### **Questions -**
1. What was the highest-selling product in September?
2. Which product had the highest sales for the "CND Chennai" sales team in May?
3. Which customer had the maximum stock returns in June for the Bangalore HQ?
4. Which sales team had the maximum percentage of primary sales returned due to expiry?
5. What percentage of overall primary sales was aô€†¯ected by breakage?
6. What were the primary sales for the Delhi HQ in the month of September?
7. What were the sales of "Britorva 20" in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ?

#### **Bonus -**
1. What is the forecasted value of primary sales for the October month?
2. Which product had the highest forecasted sales for the "CND Chennai" sales team in November?
3. What were the forecasted sales of "Britorva 20" in October under Coimbatore HQ?

### Introduction

This report answers specific business questions using the ELB-Sales-Data dataset. The analysis focuses on identifying key metrics such as the highest-selling product, sales team performance, and the impact of returns.

### Import Libraries

In [6]:
# Importing the basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [7]:
# set display for all rows and columns 
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

### Import Dataset

In [9]:
# Importing the ELB excel file
df = pd.read_excel("ELB-Sales-Data.xlsx")

In [10]:
# read the first five rows of dataset
df.head()

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Return for Reason,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,33.77,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,103.45,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23
2,9356,SL-10-24-268439,SESHABALAJEE MEDISOLUTIONS PVT LTD,210.38,1,1,210.38,0.0,0.0,-2,105.19,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT AM,0.0,2024-09-23
3,9357,SL-10-24-268438,SESHABALAJEE MEDISOLUTIONS PVT LTD,105.19,1,1,105.19,0.0,0.0,-1,105.19,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT H,0.0,2024-09-23
4,9358,SL-10-24-268437,SESHABALAJEE MEDISOLUTIONS PVT LTD,978.30,1,1,978.30,0.0,0.0,-9,108.70,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TRIGLIMIBRIT 1.3,0.0,2024-09-23

### Data Cleaning and Preprocessing

In [12]:
df.head(2)

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Return for Reason,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,33.77,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,103.45,0,HQ-Vizag,Elbrit AP,Expired,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23

In [13]:
# shape of rows and columns
df.shape

(107444, 21)

In [14]:
# display the column names
df.columns

Index(['Sr', 'ID', 'Customer', 'Primary Sales', 'Cancelled',
       'Is added to primary log', 'Against Expiry', 'Breakage', 'Claim Offer',
       'Quantity', 'Net Rate', 'Free Item', 'HQ', 'Sales Team',
       'Return for Reason', 'Sales Return', 'Sales Invoice Name',
       'Rate Difference', 'Item Name', 'Free Item Value', 'Date'],
      dtype='object')

In [15]:
# details information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107444 entries, 0 to 107443
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Sr                       107444 non-null  int64
 1   ID                       107444 non-null  object
 2   Customer                 107444 non-null  object
 3   Primary Sales            107444 non-null  float64
 4   Cancelled                107444 non-null  int64
 5   Is added to primary log  107444 non-null  int64
 6   Against Expiry           107444 non-null  float64
 7   Breakage                 107444 non-null  float64
 8   Claim Offer              107444 non-null  float64
 9   Quantity                 107444 non-null  int64
 10  Net Rate                 107444 non-null  float64
 11  Free Item                107444 non-null  int64
 12  HQ                       107264 non-null  object
 13  Sales Team               107264 non-null  object
 14  Return for Reason        18144 non-null   object
 15  Sales Return             107444 non-null  float64
 16  Sales Invoice Name       107442 non-null  object
 17  Rate Difference          107444 non-null  float64
 18  Item Name                107444 non-null  object
 19  Free Item Value          107444 non-null  float64
 20  Date                     107444 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(5), object(7)
memory usage: 17.2+ MB

In [16]:
# checking null and missing values
df.isnull().sum()

Sr                             0
ID                             0
Customer                       0
Primary Sales                  0
Cancelled                      0
Is added to primary log        0
Against Expiry                 0
Breakage                       0
Claim Offer                    0
Quantity                       0
Net Rate                       0
Free Item                      0
HQ                           180
Sales Team                   180
Return for Reason          89300
Sales Return                   0
Sales Invoice Name             2
Rate Difference                0
Item Name                      0
Free Item Value                0
Date                           0
dtype: int64

In [17]:
df.isnull().mean()*100

Sr                          0.000000
ID                          0.000000
Customer                    0.000000
Primary Sales               0.000000
Cancelled                   0.000000
Is added to primary log     0.000000
Against Expiry              0.000000
Breakage                    0.000000
Claim Offer                 0.000000
Quantity                    0.000000
Net Rate                    0.000000
Free Item                   0.000000
HQ                          0.167529
Sales Team                  0.167529
Return for Reason          83.113064
Sales Return                0.000000
Sales Invoice Name          0.001861
Rate Difference             0.000000
Item Name                   0.000000
Free Item Value             0.000000
Date                        0.000000
dtype: float64

In [18]:
# drop 'Return for Reason' column 
df.drop(columns=['Return for Reason'], inplace=True)

In [19]:
df.head(2)

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,33.77,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,103.45,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23

In [20]:
# fill the missing values of 'HQ', 'Sales Team' and 'Sales Invoice Name'
df['HQ'] = df['HQ'].fillna(df['HQ'].mode()[0])
df['Sales Team'] = df['Sales Team'].fillna(df['Sales Team'].mode()[0])
df['Sales Invoice Name'] = df['Sales Invoice Name'].fillna(df['Sales Invoice Name'].mode()[0])

In [21]:
df.isnull().sum()

Sr                         0
ID                         0
Customer                   0
Primary Sales              0
Cancelled                  0
Is added to primary log    0
Against Expiry             0
Breakage                   0
Claim Offer                0
Quantity                   0
Net Rate                   0
Free Item                  0
HQ                         0
Sales Team                 0
Sales Return               0
Sales Invoice Name         0
Rate Difference            0
Item Name                  0
Free Item Value            0
Date                       0
dtype: int64

In [22]:
df.head(2)

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,33.77,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,103.45,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23

In [23]:
# checking duplicated rows from dataset
df.duplicated().sum()

0

### Exploratory Data Analysis and Data Visualization

In [25]:
df.head(2)

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,33.77,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,103.45,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23

**1. What was the highest-selling product in September?**

Extract Data for September

In [28]:
# Ensure the 'Date' column is in datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Filter data for September
september_data = df[df['Date'].dt.month == 9]

# Display September data to verify
september_data.head()

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
0,9354,SL-10-24-268441,SESHABALAJEE MEDISOLUTIONS PVT LTD,135.08,1,1,135.08,0.0,0.0,-4,33.77,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TELBRIT 20,0.0,2024-09-23
1,9355,SL-10-24-268440,SESHABALAJEE MEDISOLUTIONS PVT LTD,413.80,1,1,413.80,0.0,0.0,-4,103.45,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,DAFAX M 5,0.0,2024-09-23
2,9356,SL-10-24-268439,SESHABALAJEE MEDISOLUTIONS PVT LTD,210.38,1,1,210.38,0.0,0.0,-2,105.19,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TELBRIT AM,0.0,2024-09-23
3,9357,SL-10-24-268438,SESHABALAJEE MEDISOLUTIONS PVT LTD,105.19,1,1,105.19,0.0,0.0,-1,105.19,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TELBRIT H,0.0,2024-09-23
4,9358,SL-10-24-268437,SESHABALAJEE MEDISOLUTIONS PVT LTD,978.30,1,1,978.30,0.0,0.0,-9,108.70,0,HQ-Vizag,Elbrit AP,0.0,SINV-24-01509,0.0,TRIGLIMIBRIT 1.3,0.0,2024-09-23

 Calculate Total Sales for Each Product

In [30]:
# Group by product and sum the sales
september_sales = september_data.groupby('Item Name')['Primary Sales'].sum()

# Display the aggregated sales
september_sales

Item Name
ACEBRIT MR               18514.80
ACEBRIT P                63959.76
AMOXIBRIT 625           329224.74
ARNIBLOC 100            162966.70
ARNIBLOC 50             381422.54
AURAGEST SR 200         195696.00
AURAGEST SR 300          -2082.84
BENISTAR 4               93255.95
BENISTAR 8               48585.67
BISOBRIT 2.5            102491.71
BISOBRIT 5               45690.01
BISOBRIT AM 5             3974.98
BISOBRIT T 2.5           48394.10
BISOBRIT T 5             62712.28
BRITORVA 10             191616.21
BRITORVA 10F            170308.77
BRITORVA 20              94506.07
BRITORVA 40             191482.76
BRITORVA 80             207407.80
BRITORVA CV 10          579993.77
BRITORVA CV 20            7483.20
BRITVIT                 374876.01
BRITVOG 0.2              78902.64
BRITVOG 0.3             145376.50
BRITVOG M 0.2            30318.51
BRITVOG M 0.3            30874.38
C FERT                  414081.06
C FERT M                660362.28
CALBRIT                 451065.15
CALBRIT 60K             119657.23
CALBRIT CT               91912.60
CALBRIT PLUS            342952.26
CARDI Q                  98358.00
CARTITAB                318659.55
CARTITAB C2             281386.28
CARTITAB UC               9012.32
CHLORVIX 12.5            34683.79
CHLORVIX 6.25            23276.64
CILNITAB 10             420095.63
CILNITAB 20              74190.15
CILNITAB 5              142008.72
CILNITAB NB 10/2.5       71162.95
CILNITAB NB 10/5        218545.09
CILNITAB T 40           348861.22
CITIBRIT FORTE          461182.85
CITIBRIT PLUS            -3285.03
CZD MAX                  15102.45
DABITON 110             -10154.67
DAFAX 10                550222.86
DAFAX 5                  99906.90
DAFAX M 10              234988.21
DAFAX M 5                87649.18
DAFAX S                 108884.99
DAFAX TRIO              336830.25
DAFAX V                 104054.02
DAFAX VM 500              8678.40
DROXIT 10               854239.30
ELPROL AM 25              8979.06
ELPROL AM 50             31366.08
ELPROL XL 100             9194.38
ELPROL XL 25            158231.14
ELPROL XL 50            195430.71
ELVIX GEL 50GM         1175908.46
EXIPAM 10                34867.28
EXIPAM 20                 -437.16
EXIPAM 5                 21941.46
EXIPAM PLUS              32980.20
FENZIT 600              134608.56
FERTIBRIT F              46158.60
FERTIBRIT M              75849.15
FOFA                    101210.29
FOFA PLUS                16475.40
FOLBRIT MB               69853.91
GLIMIBRIT 1              88511.01
GLIMIBRIT 2             188048.80
GLIMIBRIT 3              95516.67
GLIMIBRIT 4             135639.13
GLIMIBRIT M 0.5         143116.51
GLIMIBRIT M1            645149.80
GLIMIBRIT M1 FORTE       14336.44
GLIMIBRIT M2            696057.63
GLIMIBRIT M2 FORTE       92172.88
GLIMIBRIT MV1           145596.98
GLIMIBRIT MV2           506349.58
GLIZATO 30 OD           178175.16
GLIZATO 40               47551.68
GLIZATO 60 OD           322961.94
GLIZATO 80              175273.63
GLIZATO M40             250532.10
GLIZATO M80             654835.28
IEN                      78677.92
IEN FCM                 620477.31
IEN M                    58744.08
IEN TOTAL               165609.75
LARGIX                  256753.75
LINATO 5                120561.56
LINATO M 2.5/500         26550.00
LINATO-D                 60940.60
MAXFLORA                289012.44
MY20                     80515.99
MYCISS                   51310.54
MYCISS PLUS             332866.48
MYCLOP 75                63571.07
MYCLOP A 75              53631.24
MYGUT                   550932.38
MYMAG                    94485.38
MYWASH 100 ML            54405.77
MYWASH 150 ML           -11276.10
NEBILOC 10              122629.94
NEBILOC 2.5             151509.65
NEBILOC 5               326252.12
NEBILOC 5 AM            138023.69
NERO PG 50              154339.92
NERO PG 75               74382.50
NEURONZ D              2308078.58
NEURONZ LC              172461.68
NEURONZ MAX             162751.90
NEURONZ PLUS           1182808.90
OLMETOP 10               33601.08
OLMETOP 20              237540.60
OLMETOP 20 AM           170093.96
OLMETOP 20 CT           107797.26
OLMETOP 40              168388.57
OLMETOP 40 CT           275029.08
ONLY E                   91442.54
ONLY Q PLUS             336541.05
PANBRIT                  90775.66
PANBRIT DSR             183267.63
PREGABRIT              1135551.52
PREGABRIT D 50/20       164928.40
PREGABRIT NT            834054.17
PREGABRIT PLUS          674198.81
RABRITON 20             181182.90
RABRITON DSR            377602.46
RABRITON PLUS           238870.50
ROZULA 10               465923.43
ROZULA 10 F             352936.12
ROZULA 20               187973.99
ROZULA 40                33834.16
ROZULA 5                118455.37
ROZULA ASP 10           141930.58
ROZULA ASP 20           116843.95
ROZULA CV 10            530803.95
ROZULA CV 20            282003.56
ROZULA GOLD 10          380651.69
ROZULA GOLD 20          542594.93
RUTONZ                  265492.55
RUTONZ D                 39112.51
SITADOC 100             150990.90
SITADOC 25               33830.24
SITADOC 50              167991.38
SITADOC M 50 / 1000      68196.69
SITADOC M 50 / 500      752576.18
SITADOC MP 500           26507.02
TELBRIT 20              121041.39
TELBRIT 40              547731.92
TELBRIT 80               12075.17
TELBRIT AH              109550.69
TELBRIT AM              395524.00
TELBRIT CT              310525.27
TELBRIT H               357246.14
TELBRIT MT              219747.32
TELBRIT MT 25           146955.96
TELBRIT NB 40/2.5       134535.81
TELBRIT NB 40/5         215522.20
TENLIBRIT M              34851.75
TENLIBRIT M FORTE         -360.00
TENLITAB 20             246754.13
TENLITAB M              364243.80
TENLITAB M FORTE         -5022.00
TICABRIT 90             358425.01
TORBRIT 10               58908.12
TORBRIT 20               16835.84
TORBRIT 5                21987.23
TORBRIT PLUS 10          66675.61
TORBRIT PLUS 20          30418.72
TORBRIT PLUS 5           20671.73
TRIGLIMIBRIT 1          286746.11
TRIGLIMIBRIT 1.3        323586.26
TRIGLIMIBRIT 2          799793.17
TRIGLIMIBRIT 2.3        616231.47
VEINEX                  278814.15
VILZATO 100 OD           20047.23
VILZATO 50              249651.99
VILZATO M 1000            7456.80
VILZATO M 500           429683.93
Name: Primary Sales, dtype: float64

Identify the Highest-Selling Product

In [32]:
# Find the product with the highest sales
highest_selling_product = september_sales.idxmax()
highest_sales = september_sales.max()

print(f"The highest-selling product in September is '{highest_selling_product}' with sales of {highest_sales}.")

The highest-selling product in September is 'NEURONZ D' with sales of 2308078.58.

**2. Which product had the highest sales for the "CND Chennai" sales team in May?**

Filter Data for May and "CND Chennai"

In [35]:
# Filter for the month of May
may_data = df[df['Date'].dt.month == 5]

# Further filter for "CND Chennai" sales team
may_data_cnd = may_data[may_data['Sales Team'] == 'CND Chennai']

# Display filtered data to verify
may_data_cnd.head()

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
74731,102409,SL-05-24-133486,AADITYA PHARMEX,0.0,0,1,0.0,0.0,0.0,5,0.00,1,HQ-Chennai,CND Chennai,0.0,IN-CH24-00692,0.0,NEBILOC 5,-594.642857,2024-05-31
74732,102410,SL-05-24-133485,AADITYA PHARMEX,0.0,0,1,0.0,0.0,0.0,140,0.00,1,HQ-Chennai,CND Chennai,0.0,IN-CH24-00692,0.0,NEURONZ D,-16200.000000,2024-05-31
74733,102411,SL-05-24-133484,AADITYA PHARMEX,5946.5,0,1,0.0,0.0,0.0,50,118.93,0,HQ-Chennai,CND Chennai,0.0,IN-CH24-00692,0.0,NEBILOC 5,0.000000,2024-05-31
74734,102412,SL-05-24-133483,AADITYA PHARMEX,0.0,0,1,0.0,0.0,0.0,5,0.00,1,HQ-Chennai,CND Chennai,0.0,IN-CH24-00692,0.0,MYGUT,-457.627119,2024-05-31
74735,102413,SL-05-24-133482,AADITYA PHARMEX,0.0,0,1,0.0,0.0,0.0,60,0.00,1,HQ-Chennai,CND Chennai,0.0,IN-CH24-00692,0.0,NEURONZ PLUS,-8485.714286,2024-05-31

Calculate Total Sales for Each Product

In [37]:
# Group by product and sum the sales
may_sales_cnd = may_data_cnd.groupby('Item Name')['Primary Sales'].sum()

# Display the aggregated sales
may_sales_cnd

Item Name
BRITVIT                 201766.82
BRITVOG M 0.2             4773.45
BRITVOG M 0.3            -2086.62
CALBRIT                  81119.30
CILNITAB 10             102845.73
CILNITAB 20              57732.29
CILNITAB 5               44348.66
CITIBRIT FORTE          103704.78
CITIBRIT PLUS            -9380.00
DABITON 110               9843.53
DAFAX V                  98499.84
DAFAX VM 500             34713.60
GLIMIBRIT M 0.5          34048.56
GLIMIBRIT M1 FORTE       15576.59
GLIMIBRIT M2 FORTE       29121.42
GLIZATO 30 OD            49978.60
GLIZATO 40               21937.00
GLIZATO 60 OD           172168.22
GLIZATO 80               85895.50
GLIZATO M40             143015.00
GLIZATO M80             404144.42
MYGUT                   105587.12
NEBILOC 10               41713.77
NEBILOC 2.5              30744.07
NEBILOC 5                62889.83
NEBILOC 5 AM             17396.80
NEURONZ D              1161546.19
NEURONZ PLUS            371374.20
ONLY E                   28697.94
ROZULA 10               158257.08
ROZULA 20                44125.94
ROZULA 5                 57173.64
ROZULA GOLD 10           59746.03
ROZULA GOLD 20           28248.06
SITADOC 100              30448.30
SITADOC 25               15536.17
SITADOC 50               61924.98
SITADOC M 50 / 1000      15390.00
SITADOC M 50 / 500      125109.28
SITADOC MP 500           32400.90
TELBRIT 20               32660.87
TELBRIT 40              147413.93
TELBRIT 80                1596.64
TELBRIT AM               93719.88
TELBRIT CT               58842.81
TELBRIT H                91039.76
TENLIBRIT M              12535.50
TENLIBRIT M FORTE         -164.00
TENLITAB M               10446.25
TRIGLIMIBRIT 1          119471.29
TRIGLIMIBRIT 1.3         63847.08
TRIGLIMIBRIT 2          288395.61
TRIGLIMIBRIT 2.3         74790.00
VILZATO 100 OD           23271.76
VILZATO 50               95159.62
VILZATO M 1000            1770.99
VILZATO M 500            99431.21
Name: Primary Sales, dtype: float64

Identify the Product with the Highest Sales

In [39]:
# Find the product with the highest sales
highest_selling_product_may_cnd = may_sales_cnd.idxmax()
highest_sales_may_cnd = may_sales_cnd.max()

print(f"The product with the highest sales for 'CND Chennai' in May is '{highest_selling_product_may_cnd}' with sales of {highest_sales_may_cnd}.")

The product with the highest sales for 'CND Chennai' in May is 'NEURONZ D' with sales of 1161546.19.

**3. Which customer had the maximum stock returns in October for the Bangalore HQ?**

Filter Data for October and Bangalore HQ

In [42]:
# Filter for the month of October
october_data = df[df['Date'].dt.month == 6]

# Further filter for Bangalore HQ
october_bangalore_data = october_data[october_data['HQ'] == 'HQ-Bangalore']

# Display the filtered data to verify
october_bangalore_data.head()

,Sr,ID,Customer,Primary Sales,Cancelled,Is added to primary log,Against Expiry,Breakage,Claim Offer,Quantity,Net Rate,Free Item,HQ,Sales Team,Sales Return,Sales Invoice Name,Rate Difference,Item Name,Free Item Value,Date
60429,88107,SL-06-24-154736,MEDILINE BIOTEX,539.98,0,1,0.0,0.0,0.0,10,54.00,0,HQ-Bangalore,Elbrit Karnataka,0.0,IN-KA24-00717,0.0,CILNITAB T 40,0.0,2024-06-29
60430,88108,SL-06-24-154735,MEDILINE BIOTEX,1035.02,0,1,0.0,0.0,0.0,10,103.50,0,HQ-Bangalore,Elbrit Karnataka,0.0,IN-KA24-00717,0.0,ROZULA CV 20,0.0,2024-06-29
60431,88109,SL-06-24-154593,MEDILINE BIOTEX,11282.40,0,1,0.0,0.0,0.0,90,125.36,0,HQ-Bangalore,Elbrit Karnataka,0.0,IN-KA24-00715,0.0,SITADOC M 50 / 500,0.0,2024-06-29
60432,88110,SL-06-24-154592,MEDILINE BIOTEX,3297.90,0,1,0.0,0.0,0.0,30,109.93,0,HQ-Bangalore,Elbrit Karnataka,0.0,IN-KA24-00715,0.0,TRIGLIMIBRIT 1,0.0,2024-06-29
60433,88111,SL-06-24-154591,MEDILINE BIOTEX,3606.30,0,1,0.0,0.0,0.0,30,120.21,0,HQ-Bangalore,Elbrit Karnataka,0.0,IN-KA24-00715,0.0,OLMETOP 20 AM,0.0,2024-06-29

Calculate Total Returns for Each Customer

In [44]:
# Group by customer and sum the returns
october_returns_bangalore = october_bangalore_data.groupby('Customer')['Sales Return'].sum()

# Display the aggregated returns
october_returns_bangalore

Customer
DECCAN MEDISALES PVT LTD                   0.0
FOCUS MEDISALES PVT LTD BANASWADI          0.0
FOCUS MEDISALES PVT LTD HOSUR              0.0
FOCUS MEDISALES PVT LTD YESHWANTHPURA      0.0
HERITAGE MARKETEERS                        0.0
MAHAVEER MEDI SALES PVT LTD                0.0
MAHENDRA DRUG AGENCIES                     0.0
MEDILINE BIOTEX                            0.0
RSM PHARMA PVT LTD                         0.0
SAPTHAGIRI PHARMA DISTRIBUTORS             0.0
SHIVA DRUG HOUSE                           0.0
SRI PARSHVA PHARMA DISTRIBUTORS PVT LTD    0.0
SRINIVASA MEDISALES PVT LTD                0.0
VARDHAMAN MEDISALES PVT LTD YESWANTHPUR    0.0
VARDHMAN MEDISALES PVT LTD BANASWADI       0.0
VARDHMAN MEDISALES PVT LTD HO              0.0
Name: Sales Return, dtype: float64

In [45]:
october_returns_bangalore

Customer
DECCAN MEDISALES PVT LTD                   0.0
FOCUS MEDISALES PVT LTD BANASWADI          0.0
FOCUS MEDISALES PVT LTD HOSUR              0.0
FOCUS MEDISALES PVT LTD YESHWANTHPURA      0.0
HERITAGE MARKETEERS                        0.0
MAHAVEER MEDI SALES PVT LTD                0.0
MAHENDRA DRUG AGENCIES                     0.0
MEDILINE BIOTEX                            0.0
RSM PHARMA PVT LTD                         0.0
SAPTHAGIRI PHARMA DISTRIBUTORS             0.0
SHIVA DRUG HOUSE                           0.0
SRI PARSHVA PHARMA DISTRIBUTORS PVT LTD    0.0
SRINIVASA MEDISALES PVT LTD                0.0
VARDHAMAN MEDISALES PVT LTD YESWANTHPUR    0.0
VARDHMAN MEDISALES PVT LTD BANASWADI       0.0
VARDHMAN MEDISALES PVT LTD HO              0.0
Name: Sales Return, dtype: float64

Customer had the maximum stock returns in June for the Bangalore HQ is 0

**4. Which sales team had the maximum percentage of primary sales returned due to expiry?**

Calculate Percentage of Sales Returned Due to Expiry

In [49]:
# Calculate the percentage of primary sales returned due to expiry for each row
df['Expiry_Return_Percentage'] = (df['Against Expiry'] / df['Primary Sales']) * 100

# Handle cases where Primary Sales is zero to avoid division errors
df['Expiry_Return_Percentage'].fillna(0, inplace=True)
df['Expiry_Return_Percentage'] = df['Expiry_Return_Percentage'].replace([np.inf, -np.inf], 0)

# Display the updated DataFrame with the new column
print(df[['Sales Team', 'Primary Sales', 'Against Expiry', 'Expiry_Return_Percentage']].head())

  Sales Team  Primary Sales  Against Expiry  Expiry_Return_Percentage
0  Elbrit AP         135.08          135.08                     100.0
1  Elbrit AP         413.80          413.80                     100.0
2  Elbrit AP         210.38          210.38                     100.0
3  Elbrit AP         105.19          105.19                     100.0
4  Elbrit AP         978.30          978.30                     100.0

Group by Sales Team and Calculate the Average Percentage

In [51]:
# Group by sales team and calculate the average percentage
team_expiry_percentage = df.groupby('Sales Team')['Expiry_Return_Percentage'].mean()

# Display the calculated percentages for each team
team_expiry_percentage

Sales Team
Aura & Proxima Chennai        7.121484
Aura & Proxima Coimbatore    11.779880
Aura & Proxima Karnataka      5.988410
Aura & Proxima Kerala        14.156627
CND Chennai                  13.412698
CND Coimbatore               16.609769
Elbrit AP                     5.345729
Elbrit Chennai               12.939589
Elbrit Coimbatore            13.279207
Elbrit Delhi                  1.325411
Elbrit Karnataka             12.988705
Elbrit Kerala                20.311411
Elbrit Punjab                14.568880
Elbrit Punjab & Rajasthan     0.000000
Elbrit Rajasthan              7.702182
Elbrit Uttar Pradesh          4.009679
Vasco Chennai                 5.929487
Vasco Coimbatore              9.989181
Name: Expiry_Return_Percentage, dtype: float64

Identify the Sales Team with the Maximum Percentage

In [53]:
# Find the sales team with the maximum percentage
max_team = team_expiry_percentage.idxmax()
max_percentage = team_expiry_percentage.max()

print(f"The sales team with the maximum percentage of primary sales returned due to expiry is '{max_team}' with {max_percentage:.2f}%.")

The sales team with the maximum percentage of primary sales returned due to expiry is 'Elbrit Kerala' with 20.31%.

**5. What percentage of overall primary sales was affected by breakage?**

Calculate Total Breakage and Overall Primary Sales

In [56]:
# Calculate the total breakage and overall primary sales
total_breakage = df['Breakage'].sum()
total_primary_sales = df['Primary Sales'].sum()

# Display the totals
print(f"Total Breakage: {total_breakage}")
print(f"Total Primary Sales: {total_primary_sales}")

Total Breakage: -1051676.55
Total Primary Sales: 270157217.22

Calculate the Percentage of Primary Sales Affected by Breakage

In [58]:
# Calculate the percentage
breakage_percentage = -(total_breakage / total_primary_sales) * 100

# Display the result
print(f"The percentage of overall primary sales affected by breakage is {breakage_percentage:.2f}%.")

The percentage of overall primary sales affected by breakage is 0.39%.

**6. What were the primary sales for the Delhi HQ in the month of September?**

Filter Data for September and Delhi HQ

In [61]:
# Filter for the month of September
september_data = df[df['Date'].dt.month == 9]

# Further filter for Delhi HQ
september_delhi_data = september_data[september_data['HQ'] == 'HQ-Delhi']

# Display filtered data to verify
september_delhi_data.head()

Empty DataFrame
Columns: [Sr, ID, Customer, Primary Sales, Cancelled, Is added to primary log, Against Expiry, Breakage, Claim Offer, Quantity, Net Rate, Free Item, HQ, Sales Team, Sales Return, Sales Invoice Name, Rate Difference, Item Name, Free Item Value, Date, Expiry_Return_Percentage]
Index: []

Calculate Total Primary Sales

In [63]:
# Sum the primary sales for the filtered data
total_primary_sales_delhi_september = september_delhi_data['Primary Sales'].sum().astype(int)

print(f"Total primary sales for Delhi HQ in September is {total_primary_sales_delhi_september}")

Total primary sales for Delhi HQ in September is 0

**7. What were the sales of "Britorva 20" in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ?**

Filter Data for September

In [66]:
# Filter for the month of September
september_data = df[df['Date'].dt.month == 9]

Further Filter for Coimbatore HQ

In [68]:
# Filter for Coimbatore HQ
coimbatore_data = september_data[september_data['HQ'] == 'HQ-Coimbatore']

Narrow Down to "PALEPU PHARMA DIST PVT LTD"

In [70]:
# Filter for the specific customer
palepu_pharma_data = coimbatore_data[coimbatore_data['Customer'] == 'PALEPU PHARMA DIST PVT LTD']

Check Sales of "Britorva 20"

In [72]:
# Filter for the product "Britorva 20"
britorva_data = palepu_pharma_data[palepu_pharma_data['Item Name'] == 'Britorva 20']

# Sum up the primary sales
britorva_sales = britorva_data['Primary Sales'].sum().astype(int)

print(f"Total sales of 'Britorva 20' in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ is {britorva_sales}")

Total sales of 'Britorva 20' in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ is 0

### **Bonus**

**1. What is the forecasted value of primary sales for the October month?**

In [75]:
from sklearn.linear_model import LinearRegression

In [76]:
# Extract year-month for aggregation
df['YearMonth'] = df['Date'].dt.to_period('M')

# Group by year-month and sum primary sales
monthly_sales = df.groupby('YearMonth')['Primary Sales'].sum()

# Convert to time series format
monthly_sales = monthly_sales.to_timestamp()

# Display the aggregated sales
print("Monthly Sales Data:")
print(monthly_sales)

Monthly Sales Data:
YearMonth
2024-04-01    43944346.66
2024-05-01    45896730.82
2024-06-01    47566563.99
2024-07-01    50067106.19
2024-08-01    41066121.82
2024-09-01    41616347.74
Freq: MS, Name: Primary Sales, dtype: float64

In [77]:
# Prepare data for regression
if len(monthly_sales) > 1:  # Ensure there is enough data for regression
    X = np.arange(len(monthly_sales)).reshape(-1, 1)  # Month indices as features
    y = monthly_sales.values  # Sales values as target

    # Train the linear regression model
    model = LinearRegression()
    model.fit(X, y)

    # Forecast sales for the next month (October)
    next_month = np.array([[len(monthly_sales)]])  # Index for October
    forecast = model.predict(next_month)

    print(f"Forecasted primary sales for October: {forecast[0]:.2f}")
else:
    print("Not enough data for Linear Regression forecasting.")

Forecasted primary sales for October: 42663074.93

**2. Which product had the highest forecasted sales for the "CND Chennai" sales team in November?**

In [79]:
from sklearn.linear_model import LinearRegression

In [80]:
# Filter for the "CND Chennai" sales team
cnd_chennai_data = df[df['Sales Team'] == 'CND Chennai']

In [81]:
# Extract year-month for aggregation
cnd_chennai_data['YearMonth'] = cnd_chennai_data['Date'].dt.to_period('M')

# Group by product and year-month, summing primary sales
product_monthly_sales = cnd_chennai_data.groupby(['Item Name', 'YearMonth'])['Primary Sales'].sum()

# Unstack to create a time series for each product
product_sales_ts = product_monthly_sales.unstack(level=0)

# Display the time series data
print(product_sales_ts)

Item Name    BRITVIT  BRITVOG M 0.2  BRITVOG M 0.3    CALBRIT  CILNITAB 10  \
YearMonth
2024-04    310995.83       17268.06       36260.58  100870.14    105358.44
2024-05    201766.82        4773.45       -2086.62   81119.30    102845.73
2024-06    281207.26       55805.97       85287.15  132621.55    101424.37
2024-07    236602.98       36972.54       29547.57  124283.98    135218.82
2024-08    189072.89       17531.58        2330.25   71583.34     84872.73
2024-09    178062.37       19925.41       11896.92   84081.10    162289.41

Item Name  CILNITAB 20  CILNITAB 5  CITIBRIT FORTE  CITIBRIT PLUS  \
YearMonth
2024-04       34472.75    31415.88        81340.90            NaN
2024-05       57732.29    44348.66       103704.78       -9380.00
2024-06       45185.82    41059.56       130820.25      -10239.12
2024-07       17756.12    56459.79       117880.94            NaN
2024-08       12410.19    32783.48       104180.49       -1877.16
2024-09       14637.66    33767.10        78967.86            NaN

Item Name  DABITON 110   DAFAX V  DAFAX VM 500  GLIMIBRIT M 0.5  \
YearMonth
2024-04       15852.20  69427.20      23142.40         42904.40
2024-05        9843.53  98499.84      34713.60         34048.56
2024-06       22628.80  82358.02      15910.40         59196.65
2024-07       14143.00  77903.10      10124.80         45834.60
2024-08       18385.90  92106.75      -4049.92         34734.52
2024-09       -1414.30  44751.62       1446.40         22477.95

Item Name  GLIMIBRIT M1 FORTE  GLIMIBRIT M2 FORTE  GLIZATO 30 OD  GLIZATO 40  \
YearMonth
2024-04               3007.23            17999.52      103717.50    20364.00
2024-05              15576.59            29121.42       49978.60    21937.00
2024-06              27828.81            26322.80       75896.86    20662.27
2024-07              11369.56              205.72       49557.27    40501.09
2024-08               3760.65             9257.39       36630.34    20055.64
2024-09               5849.90            23657.80       59015.84    16715.43

Item Name  GLIZATO 60 OD  GLIZATO 80  GLIZATO M40  GLIZATO M80   IEN FCM  \
YearMonth
2024-04        249144.88    75996.87     98434.00    342455.41       NaN
2024-05        172168.22    85895.50    143015.00    404144.42       NaN
2024-06        213329.82    92955.05    141786.38    394198.09       NaN
2024-07        244574.22    91934.70    131764.50    391943.64       NaN
2024-08         87778.88    72168.37     98652.98    267447.33       NaN
2024-09        136591.68    88375.34     82662.98    396235.80  282858.0

Item Name      MYGUT  NEBILOC 10  NEBILOC 2.5  NEBILOC 5  NEBILOC 5 AM  \
YearMonth
2024-04    134181.10    35559.90     25139.13  109057.55      21362.84
2024-05    105587.12    41713.77     30744.07   62889.83      17396.80
2024-06    150408.75    34405.51     50409.10  134747.67      31959.24
2024-07    275596.83    39787.47     31759.26   89506.71      37483.49
2024-08     97863.88    76744.20     19620.13   41800.65      13688.51
2024-09    110984.28    58047.42     15094.11   64135.70      17654.34

Item Name   NEURONZ D  NEURONZ PLUS    ONLY E  ROZULA 10  ROZULA 20  ROZULA 5  \
YearMonth
2024-04    1021362.31     397036.48  20623.43  153966.30   53652.22  66460.15
2024-05    1161546.19     371374.20  28697.94  158257.08   44125.94  57173.64
2024-06    1159485.88     447541.41  20973.15  160901.05  100575.71  35117.19
2024-07    1045995.26     338385.41  28265.93  159406.97   45965.52  54899.24
2024-08     969439.46     307993.51  22629.20  140629.96   35175.30  47902.82
2024-09     814672.05     304768.76  42172.60  122963.99   36102.24  44693.89

Item Name  ROZULA GOLD 10  ROZULA GOLD 20  SITADOC 100  SITADOC 25  \
YearMonth
2024-04          66132.72        32599.86     52526.58    -2743.58
2024-05          59746.03        28248.06     30448.30    15536.17
2024-06          76439.89        33060.29     39709.29     9928.44
2024-07          94444.88        33260.86     67806.82    12870.20
2024-08          50041.54        -4011.36     63631.29    15561.25
2024-09          62607.15        32090.88      5649.03    15444.24

Item Name  SITADOC 50  SITADOC M 50 / 1000  SITADOC M 50 / 500  \
YearMonth
2024-04      53375.60              21060.0            78105.04
2024-05      61924.98              15390.0           125109.28
2024-06      71696.18              15390.0           145292.24
2024-07      59605.80              31050.0           150381.86
2024-08      58187.50               5265.0            81860.08
2024-09      42333.68               2700.0           127463.78

Item Name  SITADOC MP 500  TELBRIT 20  TELBRIT 40  TELBRIT 80  TELBRIT AM  \
YearMonth
2024-04          27772.20    44542.25   134695.60     5787.61   108204.44
2024-05          32400.90    32660.87   147413.93     1596.64    93719.88
2024-06          10800.30    39617.88   129937.90     9979.00    93367.46
2024-07          54001.50    33036.83   101665.53    45404.45   139245.41
2024-08          18514.80    26563.83    62806.19     6513.56    78998.39
2024-09          26692.17    50227.45   135205.26     3928.09    75747.98

Item Name  TELBRIT CT  TELBRIT H  TENLIBRIT M  TENLIBRIT M FORTE  TENLITAB M  \
YearMonth
2024-04      62241.02   76426.57     16369.40             -410.0         NaN
2024-05      58842.81   91039.76     12535.50             -164.0    10446.25
2024-06      60353.81   99889.30     14457.61                NaN         NaN
2024-07      73068.08   47209.68     25238.14                NaN         NaN
2024-08      39018.68   45474.03      5264.91             -900.0         NaN
2024-09      66440.06   64513.59     14845.09              -90.0         NaN

Item Name  TRIGLIMIBRIT 1  TRIGLIMIBRIT 1.3  TRIGLIMIBRIT 2  TRIGLIMIBRIT 2.3  \
YearMonth
2024-04         113007.48          31923.90       252480.44          94365.00
2024-05         119471.29          63847.08       288395.61          74790.00
2024-06         151741.36          58621.91       238943.06          88609.08
2024-07         103004.41          83459.86       289457.75         110106.01
2024-08          83147.00          53078.21       166226.83          61314.48
2024-09          58112.97          70426.73       225773.48          88081.35

Item Name  VILZATO 100 OD  VILZATO 50  VILZATO M 1000  VILZATO M 500
YearMonth
2024-04          47731.50   105296.05         3081.60       99392.92
2024-05          23271.76    95159.62         1770.99       99431.21
2024-06          70006.20   123612.20        -1610.14      100585.73
2024-07          19028.95    73374.46         8388.90      100613.85
2024-08            954.63    59707.02         2440.40       91685.62
2024-09          16865.13    50693.56         2330.25      113534.95

In [82]:
# Initialize a dictionary to store forecasts
forecasts = {}

# Iterate over each product's time series
for product in product_sales_ts.columns:
    # Select the time series for the product
    sales_ts = product_sales_ts[product].dropna()

    # Check if there is enough data for regression
    if len(sales_ts) > 1:  # Ensure at least two data points
        # Prepare data for regression
        X = np.arange(len(sales_ts)).reshape(-1, 1)
        y = sales_ts.values

        # Train a linear regression model
        model = LinearRegression()
        model.fit(X, y)

        # Predict sales for the next period (November)
        next_period = np.array([[len(sales_ts)]])
        forecast = model.predict(next_period)
        forecasts[product] = forecast[0]

# Display the forecasts
print(f"Forecasted sales for November: {forecasts}")

Forecasted sales for November: {'BRITVIT': 158216.02133333328, 'BRITVOG M 0.2': 28652.272666666664, 'BRITVOG M 0.3': 10775.248, 'CALBRIT': 87004.16999999998, 'CILNITAB 10': 141787.94666666668, 'CILNITAB 20': 4108.6600000000035, 'CILNITAB 5': 39218.49066666667, 'CITIBRIT FORTE': 100478.13200000001, 'CITIBRIT PLUS': 337.41333333333205, 'DABITON 110': 6320.735999999999, 'DAFAX V': 62806.546, 'DAFAX VM 500': -9507.669333333339, 'GLIMIBRIT M 0.5': 28522.471333333335, 'GLIMIBRIT M1 FORTE': 7462.751333333335, 'GLIMIBRIT M2 FORTE': 12018.998000000001, 'GLIZATO 30 OD': 33476.80133333334, 'GLIZATO 40': 22967.76066666667, 'GLIZATO 60 OD': 105462.32133333333, 'GLIZATO 80': 86523.366, 'GLIZATO M40': 93856.33600000001, 'GLIZATO M80': 351726.4046666667, 'MYGUT': 144373.75266666667, 'NEBILOC 10': 70000.79666666666, 'NEBILOC 2.5': 18569.624, 'NEBILOC 5': 50377.91, 'NEBILOC 5 AM': 20843.22466666667, 'NEURONZ D': 856423.9806666666, 'NEURONZ PLUS': 285119.6279999999, 'ONLY E': 36910.282666666666, 'ROZULA 10': 128415.52600000001, 'ROZULA 20': 35678.28733333334, 'ROZULA 5': 39354.984, 'ROZULA GOLD 10': 65361.73533333333, 'ROZULA GOLD 20': 15962.505999999998, 'SITADOC 100': 32621.093333333338, 'SITADOC 25': 20495.06333333333, 'SITADOC 50': 50002.71466666667, 'SITADOC M 50 / 1000': 4491.0, 'SITADOC M 50 / 500': 130248.95200000002, 'SITADOC MP 500': 27977.920000000002, 'TELBRIT 20': 38130.23466666667, 'TELBRIT 40': 90666.00600000002, 'TELBRIT 80': 16289.419333333337, 'TELBRIT AM': 82157.04466666668, 'TELBRIT CT': 57417.78466666666, 'TELBRIT H': 45864.650666666654, 'TENLIBRIT M': 12919.829333333331, 'TENLIBRIT M FORTE': -335.0, 'TRIGLIMIBRIT 1': 61529.18133333333, 'TRIGLIMIBRIT 1.3': 78730.83066666668, 'TRIGLIMIBRIT 2': 198593.55000000002, 'TRIGLIMIBRIT 2.3': 81176.19866666668, 'VILZATO 100 OD': 2416.9793333333364, 'VILZATO 50': 41679.68599999999, 'VILZATO M 1000': 3558.718666666666, 'VILZATO M 500': 105624.19666666664}

In [83]:
# Find the product with the maximum forecasted sales
highest_forecasted_product = max(forecasts, key=forecasts.get)
highest_forecasted_sales = forecasts[highest_forecasted_product]

print(f"The product with the highest forecasted sales for 'CND Chennai' in November is '{highest_forecasted_product}' with forecasted sales of {highest_forecasted_sales:.2f}")

The product with the highest forecasted sales for 'CND Chennai' in November is 'NEURONZ D' with forecasted sales of 856423.98

**3. What were the forecasted sales of "Britorva 20" in October under Coimbatore HQ?**

In [85]:
from sklearn.linear_model import LinearRegression

In [86]:
# Filter for Coimbatore HQ and "Britorva 20"
britorva_data = df[(df['HQ'] == 'HQ-Coimbatore') & (df['Item Name'] == 'Britorva 20')]

# Check if there is data available
if britorva_data.empty:
    print("No data available for 'Britorva 20' under Coimbatore HQ.")
else:
    print("Data for 'Britorva 20' under Coimbatore HQ is available.")

No data available for 'Britorva 20' under Coimbatore HQ.

In [87]:
# Extract year-month for aggregation
britorva_data['YearMonth'] = britorva_data['Date'].dt.to_period('M')

# Group by year-month and sum primary sales
monthly_sales = britorva_data.groupby('YearMonth')['Primary Sales'].sum()

# Convert to time series format
monthly_sales = monthly_sales.to_timestamp()

# Display the aggregated sales
print("Monthly Sales Data:")
print(monthly_sales)

Monthly Sales Data:
Series([], Name: Primary Sales, dtype: float64)

In [88]:
# Prepare data for regression
if len(monthly_sales) > 1:  # Ensure there is enough data for regression
    X = np.arange(len(monthly_sales)).reshape(-1, 1)  # Month indices as features
    y = monthly_sales.values  # Sales values as target

    # Train the linear regression model
    model = LinearRegression()
    model.fit(X, y)

    # Forecast sales for the next month (October)
    next_month = np.array([[len(monthly_sales)]])  # Index for October
    forecast = model.predict(next_month)

    print(f"Forecasted sales of 'Britorva 20' in October under Coimbatore HQ: {forecast[0]:.2f}")
else:
    print("Not enough data for Linear Regression forecasting.")

Not enough data for Linear Regression forecasting.

### Conclusions

#### Answers of 7 Questions :-

1. What was the highest-selling product in September?

=> The highest-selling product in September is 'NEURONZ D' with sales of 2308078.58

2. Which product had the highest sales for the "CND Chennai" sales team in May?

=> The product with the highest sales for 'CND Chennai' in May is 'NEURONZ D' with sales of 1161546.19

3. Which customer had the maximum stock returns in June for the Bangalore HQ?

=> Customer had the maximum stock returns in June for the Bangalore HQ is 0

4. Which sales team had the maximum percentage of primary sales returned due to expiry?

=> The sales team with the maximum percentage of primary sales returned due to expiry is 'Elbrit Kerala' with 20.31%.

5. What percentage of overall primary sales was affected by breakage?

=> The percentage of overall primary sales affected by breakage is 0.39%.

6. What were the primary sales for the Delhi HQ in the month of September?

=> Total primary sales for Delhi HQ in September is 0

7. What were the sales of "Britorva 20" in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ?

=> Total sales of 'Britorva 20' in September for PALEPU PHARMA DIST PVT LTD under Coimbatore HQ is 0

#### Answers of Bonus Questions:-

1. What is the forecasted value of primary sales for the October month?

=> Forecasted primary sales for October is 42663074.93

2. Which product had the highest forecasted sales for the "CND Chennai" sales team in November?

=> The product with the highest forecasted sales for 'CND Chennai' in November is 'NEURONZ D' with forecasted sales of 856423.98

3. What were the forecasted sales of "Britorva 20" in October under Coimbatore HQ?

=> Incomplete Data, Not enough data for Linear Regression forecasting.